<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', { title : 'crear' }) %> 
</head>

<body class="crear">
  <header class="carrito__header">
        <%- include('./partials/header') %> 
  </header>

    <main>
        <h1 class="titulo-form">Crea tu puclicación</h1>
        <section class="form">



          <form action="/products/store" method="post" enctype="multipart/form-data">
            <div>
              <label for="name" class="form-label">Nombre del producto</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div>
              <label for="description" class="form-label">Descripcion</label>
              <input type="text" class="form-control" id="description" name="description">
            </div>
            <div class="conteiner-relative">
              <label for="imagen" class="form-label">Imagen</label>
              <div class="relative">
                <label for="imagen" class="label-imagen form-label">Ingresar imagen</label>
                <input type="file" name="imagen" class="form-imagen" required>
              </div>
            </div>
            <div>
              <label for="category" class="form-label">Categoria</label>
    
              <select name="category" class="categoria">
    
                <option selected value="">seleccione...</option>

                <% categories.forEach(category => { %>
                  <option value="<%= category %> "><%= category %> </option>
                <% }) %>
    
              </select>
            </div>
    
            <div>
              <label for="price" class="form-label">Precio</label>
              <input type="number" class="form-control" id="price" name="price">
            </div>
            <div>
              <button type="submit" class="a-button">Crear</button>
            </div>
          </form>



        </section>
      </main>
    <footer class="home__footer"> <%- include('./partials/footer') %>  </footer>
    
</body>
</html>