<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head', { title : 'detalle' }) %> 

</head>

<body class="detalle">
    <header class="carrito__header">
        <%- include('./partials/header') %> 
    </header>

    <main class="detalle__main">
        
        <section class="detalle__main__section">            
            <h3>Jaque Mate > <%= product.category %> </h3>
            
            <article class="detalle__main__section__article">
                <div class="detalle__main__section__article__imagenes">
                    <div class="detalle__main__section__article__imagenes__prinsipal">
                        <img src="/images/<%= product.image %>" alt="">
                    </div>
                   <div class="detalle__main__section__article__imagenes__secundaria">
                    <img src="/images/<%= product.image %>" alt="">
                    <img src="/images/<%= product.image %>" alt="">
                   </div> 
                </div>
            </article> 
        </section>       
            <section class="detalle__main__section__descripcion">
                
                <div class="detalle__main__section__article__imagenes__titulo">
                    <h4><%= product.name %>.</h4>
                    <h4>  $ <%= product.price %> </h4>
                    
                    <div class="detalle__main__section__article__imagenes__miniaturas">
                         
                        <img src="/images/mate negro.jpeg" alt="">
                        <img src="/images/mate rojo.jpeg" alt="">
                        <img src="/images/mate marron claro.jpeg" alt="">
                    
                    </div>
                    
                </div>
                <div class="detalle__main__section__article__button">
                    <button>Comprar</button>
                    <button>Agregar Al Carrito</button>
                    <a href="/products/editarProducto/<%= product.id %>" class="a-button">Editar Producto</a>
                </div> 
            </section>
                <section class="detalle__main__section__descripcion"><div class="detalle__main__section__article__descripcion">
                    <h6>Descripcion</h6>
                    <p><%= product.description %> </p>
                    <h6>Caracteristicas</h6>
                    <ul>
                        <li>Mantiene el calor 30 minutos despues empieza a bajar su temperatura</li>
                        <li>- Alto: 9.5 cm</li>
                        <li>- Diámetro: 10 cm</li>
                        <li>- Apto Solo Mates</li>
                        <li>- Liempie con agua caliente.</li>
                        <li>- Borde Alpaca</li>
                        <li>- Sin BPA</li>
                    </ul>
                         
                        
                </div>
                </section>
                <section  class="detalle__main__section__descripcion">
                <div class="detalle__main__section__article__pagos">
                    <h6>Medios de pago</h6>
                        <h6>Tarjetas de crédito</h6>
                        
                        <i class="fa-brands fa-cc-visa"></i>
                        <i class="fa-brands fa-cc-mastercard"></i>
                        <i class="fa-brands fa-cc-amex"></i>
                    <h6>Tarjetas de débito</h6>
                    <i class="fa-brands fa-cc-visa"></i>
                    <i class="fa-brands fa-cc-mastercard"></i>
                    <i class="fa-brands fa-cc-amex"></i>
                    <h6>Efectivo/Mercado Pago</h6>
                    <img src="/images/icons8-mercado-pago.svg" alt="">

                </div>
                
        </section>
        <section class="contenedor__carrucel">
            <section class="carrucel">
                <article class="detalle__main__section__article__pagos__producto"> 
                    <div class="detalle__main__section__article__pagos__producto__imagencarrucel">
                        <img src="/images/mate_produc.png" alt="">
                    </div>
                    <div class="detalle__main__section__article__pagos__producto__descripcioncarrucel">
                        <h6>Mate Imperial</h6>
                        <h4>$1000</h4>
                    </div>
                </article>
            </section>
            <section class="carrucel carrucel__2">
                <article class="detalle__main__section__article__pagos__producto"> 
                    <div class="detalle__main__section__article__pagos__producto__imagencarrucel">
                        <img src="/images/mate_produc.png" alt="">
                    </div>
                    <div class="detalle__main__section__article__pagos__producto__descripcioncarrucel">
                        <h6>Mate Imperial</h6>
                        <h4>$1000</h4>
                    </div>
                </article>
            </section>
            <section class="carrucel  carrucel__3" >
                <article class="detalle__main__section__article__pagos__producto"> 
                    <div class="detalle__main__section__article__pagos__producto__imagencarrucel">
                        <img src="/images/mate_produc.png" alt="">
                    </div>
                    <div class="detalle__main__section__article__pagos__producto__descripcioncarrucel">
                        <h6>Mate Imperial</h6>
                        <h4>$1000</h4>
                    </div>
                </article>
            </section>
        </section>
    </main>


    <footer class="home__footer">
        <%- include('./partials/footer') %> 
    </footer>
</body>

</html>

