<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %> 

<body class="home">
    <%- include("./partials/header") %> 
    <main class="home__main">
        <section class="home__main__banner">
            <div class="banner_principal"></div>
            <div class="banner__secundario"><img src="/images/banner2.jpg" alt=""></div>
            <div class="banner__secundario"><img src="/images/banner3.jpg" alt=""></div>
        </section>
        <section class="home__main__masBuscados">
            <h4>Mas Buscados</h4>
            <%- include("./partials/productos") %> 
        <section class="home__main__buscAnterior">
            <h4>Con Relacion a Busquedas Anteriores</h4>
            <%- include("./partials/productos") %>

        </section>


    </main>
    <%- include("./partials/footer") %> 
</body>

</html>