<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head', { title : 'index' }) %> 
</head>

<body class="home">
    <header class="home__header">
        <div class="home__header__logo">
            <a href="/"><img src="/images/jaqueMate.png" alt=""></a>
        </div>
        <div class="home__header__busqueda">
            <input type="text" value="¿Que producto buscas?"><br>
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>


        <nav class="home__header__nav">
            <a href="/users/login" class="ingresar"><p >ingresar</p></a>
            <p><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></p>
            <div class="home__header__nav__foto"></div>
        </nav>

        <div class="home__header__burger">
            <i class="fas fa-bars">
            </i>
        </div>
        <nav class="home__header__categorias">
            <ul>
                <li><a href=""></a>mates</li>
                <li><a href=""></a>bombillas</li>
                <li><a href=""></a>termos</li>
                <li><a href=""></a>yerberos</li>
                <li><a href=""></a>pavas</li>
            </ul>
        </nav>
        <div class="home__header__promo">
            <a>Promociones</a>
        </div>



    </header>
    <main class="home__main">
        <section class="home__main__banner">
            <div class="banner_principal"></div>
            <div class="banner__secundario"><img src="/images/banner2.jpg" alt=""></div>
            <div class="banner__secundario"><img src="/images/banner3.jpg" alt=""></div>
        </section>
        <section class="home__main__masBuscados">
            <h4>Mas Buscados</h4>
            <% products.forEach(product => { %>
                <article> <a href="/products/detalle/<%= product.id %>">
                    <div>
                        <img src="/images/<%= product.image %>" alt="">
                    </div>
                    <div class="descrip">
                        <p><%= product.name %></p>
                        <p><%= product.price %></p>
                    </div>
                </a>
            </article>
            <% }) %>
            
            
        </section>
        <section class="home__main__buscAnterior">
            <h4>Con Relacion a Busquedas Anteriores</h4>
            <% products.forEach(product => { %>
                <article> <a href="/products/detalle/<%= product.id %>">
                    <div class="img_product">
                        <img src="/images/<%= product.image %>" alt="">
                    </div>
                    <div class="descrip">
                        <p><%= product.name %></p>
                        <p><%= product.price %></p>
                    </div>
                </a>
            </article>
            <% }) %>
            
        </section>


    </main>
    <footer class="home__footer">
        <%- include('./partials/footer') %> 
    </footer>
</body>

</html>