<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head', { title : 'profile' }) %>
</head>

<body class="registro">
  <header class="registro__header">
    <div class="registro__header__logo">
      <a href="/"><img src="/images/jaqueMate.png" alt="" /></a>
    </div>
  </header>
  <main class="registro__main">
    <div class="home__header__nav__foto__profile">
      <figure class="home__header__nav__foto__profile__figure">
        <img id="imagePreview" src="/images/users/<%= user.avatar? user.avatar :
          " avatarDefault.png"%>">
      </figure>
    </div>

    <h2>Perfil</h2>
    <br />
    <h4>Edita tus datos</h4>

    <form method="post" action="/users/updateUser/<%= user.id %>?_method=PUT" class="registro__main__formulario"
      enctype="multipart/form-data">
      <div>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="<%= user.name %>" />
        <small class="errorNombre">
          <%= locals.errors && errors.nombre?errors.nombre.msg : null%>
        </small>
      </div>

      <div>
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" value="<%=user.surname%>" />
        <small class="errorApellido">
          <%= locals.errors && errors.apellido?errors.apellido.msg : null %>
        </small>
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="<%= user.email %>" readonly />
      </div>

      <div class="genero-container">
        <h4>Genero</h4>
        <label for="masculino">Masculino</label>
        <input type="radio" name="genderId" id="1" <%=user.genderId==1 && "checked" %> value="1">
        <label for="femenino">Femenino</label>
        <input type="radio" name="genderId" id="2" <%=user.genderId==2 && "checked" %> value="2">
        <label for="otro">Otro</label>
        <input type="radio" name="genderId" id="3" <%=user.genderId==3 && "checked" %> value="3">
      </div>
      <div>
        <label for="fechaNacimiento">Fecha de nacimiento</label>
        <input type="date" name="fechaNacimiento" id="fechaNacimiento" value="<%=user.birthday %>" />
      </div>

      <div>
        <label for="pasatiempo">Pasatiempos</label>
        <input type="text" name="pasatiempo" id="pasatiempo" value="<%=user.hobbies %>" />
      </div>
      <div>
        <label for="about">Acerca de mi</label>
        <input type="text" name="about" id="about" value="<%=user.about %>" />
      </div>

      <div>
        <label for="">Avatar</label>
        <input type="file" name="avatar" id="avatar" value="<%=user.avatar%>"
          accept="image/gif, image/png, image/jpeg" />
        <small id="msgErrorAvatar"></small>
      </div>

      <div class="login__main__formulario__confirmar">
        <button type="submit">Guardar</button>
        <small class="error-form"></small>
      </div>
    </form>
  </main>
  <script src="/javascripts/profile.js"></script>
</body>

</html>