<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', { title : 'profile' }) %> 

</head>
<body class="registro">
    <header class="registro__header">
        <div class="registro__header__logo">
            <a href="/"><img src="/images/jaqueMate.png" alt=""></a>
        </div>
    </header>
    <main class="registro__main">
        <div class="home__header__nav__foto__profile">

            <img src="/images/users/<%= user.avatar? user.avatar:"avatarDefault.png" %> " alt="">
        </div>
        
        
        
        <h2>Perfil</h2><br>
        <h4>Edita tus datos</h4>

        
        
        

        <form action="/users/updateUser/<%= user.id %>?_method=PUT" class="registro__main__formulario" enctype="multipart/form-data" method="POST">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" value="<%= user.nombre %>">
            

            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido" value="<%=user.apellido  %>">
           

            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="<%= user.email %>" readonly>


            <div>
                <h5>Genero</h5>
                <label for="masculino">Masculino</label>
                <input type="radio" name="genero" id="masculino" <%= user.genero === "m" && "checked" %> value="m">
                <label for="femenino">Femenino</label>
                <input type="radio" name="genero" id="femenino" <%= user.genero === "f" && "checked" %> value="f">
                <label for="otro">Otro</label>
                <input type="radio" name="genero" id="otro" <%= user.genero === "o" && "checked" %> value="o">

            </div>
            
            <select name="ciudad" id="ciudad">
                <option hidden selected value="">Selecciona tu ciudad</option>
                <% ciudades.forEach(ciudad => { %>
                    <option <%= ciudad === user.ciudad && "selected" %> value=" <%= ciudad %>"><%= ciudad %></option>
                <% }) %>
            </select>
            

            <select name="provincia" id="provincia">
                <option hidden selected value="">Selecciona tu provincia</option>
                <% provincias.forEach(provincia => { %>
                    <option <%= provincia === user.provincia && "selected" %> value=" <%= provincia %>"><%= provincia %></option>
                <% }) %>
            </select>

            <label for="fechaNacimiento">Fecha de nacimiento</label>
            <input type="date" name="fechaNacimiento" id="fechaNacimiento" value="<%=user.fechaNacimiento  %>">

            <label for="pasatiempo">Pasatiempos</label>
            <input type="text" name="pasatiempo" id="pasatiempo" value="<%=user.pasatiempo  %>">

            <label for="about">Acerca de mi</label>
            <input type="text" name="about" id="about" value="<%=user.about  %>">


            <label for="avatar">Avatar</label>
            <input type="file" name="avatar" id="avatar" value="<%=user.avatar  %>">

            
            <div class="login__main__formulario__confirmar">
                <button type="submit">Guardar</button>
            </div>

            
        </form>
        

    </main>
</body>
</html>